@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');

font_raleway= 'Raleway', sans-serif
colorBeis 	= #ecebe6eb
azul 		= #192f47
dorado 		= #c6b688
white 		= #fff


h1 
	font-family font_raleway
	color azul 
	font-size 2rem
	padding 20px 0px
	margin 0
	font-weight bold
h2 
	font-family font_raleway
	font-weight bold
	color azul
	font-size 1.5rem
p 
	font-family font_raleway
	color azul
	text-align justify
	&.singn
		font-style italic
a
	
	font-family font_raleway
h3 
	font-family font_raleway
.text-primary
	color azul !important
:root
	--primary azul
.btn 
	border-radius 35px
	&.btn-primary
		background-color azul
		border-color azul
		color white !important
		padding-left 20px
		padding-right 20px
		


	
select 
	color #495057
	border 1px solid #ced4da
	-webkit-appearance none
	-moz-appearance none
	width 100%
	padding 5px 10px