extends ../layouts/master.pug

block contenido
	
	login-component
	.container(class="section-login")
		.row
			div(class="col-12 col-sm-5 col-md-5 mx-auto")
				if(messages  && messages.error)
					p(id="error_form", class="d-none text-danger mt-4") #{messages.error}
















	
