doctype html
html(lang="es")
	head
		meta( charset="utf-8")
		meta( http-equiv="X-UA-Compatible" content="IE=edge")
		meta( name="viewport" content="width=device-width, initial-scale=1")
		title  Login Countries
	body
		div(id="app")
			countries-component
	script(src="/socket.io/socket.io.js")
	script(src="/js/app.js")








	
