
doctype html
html(lang="es")
  head
    meta( charset="utf-8")
    meta( http-equiv="X-UA-Compatible" content="IE=edge")
    meta( name="viewport" content="width=device-width, initial-scale=1")
    title  Login Countries

    link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
  body
    div(id="app")
      
    nav(class="nav-login")
      .container
        .row
          div(class='col-12')
            img(src="/img/world.png", alt="Countries")
    .container(class="section-login")
      .row
        .col-md-6.mx-auto
          if user && user.username
            h1 User Logged in!
            h3 Hello #{user.username}
            ul
              li
                a(href='/countries') Countries
              li
                a(href='/auth/logout') Log Out

          //- form#newuser(role='form', action='/api/users', method='post')
          form(role='form', action='/signup', method='post')
            .form-group
              label(for='username') Username
              input.form-control(type='text', name='username', placeholder='Enter your Username')
            .form-group
              label(for='email') Your Email address
              input.form-control(type='email', name='email', placeholder='Enter your email address')
            .form-group
              label(for='password') Your Password
              input.form-control(type='password', name='password', placeholder='Password')
            .form-group.text-right
              button.btn.btn-primary(type='submit') Submit
          br
          if (messages.error)
            p
              span(style="color:red")= messages.error
  script(src="/js/app.js")
