<template lang="pug">
	div
		nav(class="nav-login")
			.container
				.row
					div(class='col-12')
						img(src="/img/world.png", alt="Countries")
		.container(class="section-login")
			.row
				div(class="col-12 col-sm-5  mx-auto")
					h1(class='text-center') Countries

					form(id="formUpdate" action="#")
						.form-group
							label Countries
							select(id="country",v-model="changeCountry",name="country")
								option(v-for="country in countries",:data-population="country.population", :value="country.id") {{ country.country }}
						.form-group
							label Population 
							input(type='number', class="form-control text-right", id="population", name="population", :value="population")
						div.text-right
							.form-group.text-left
								label.text-danger {{msg}}
							label(class='btn btn-primary  mx-auto',v-on:click="updateCountries()") enviar
					if(messages  && messages.error)
						p(class="text-danger d-block mt-4") #{messages.error}
				div(class="col-12 col-sm-7  mx-auto")
					h1(class='text-center') Data
					GChart(type="ColumnChart", :data="chartData" ,:options="chartOptions")
</template>

<script>

	import { GChart } from "vue-google-charts";
	var socket = io();
	
	import Vue from 'vue';
	window.Vue 	   = Vue;

	import VueSocketio from 'vue-socket.io';
	//Vue.use(VueSocketio, 'http://0.0.0.0:3000');
	Vue.use(VueSocketio, 'http://104.238.73.77:3000');

	export default {
		name: "App",
		components: {

			GChart
		},
		data() {
			return {
				chartData		: [],
				chartOptions	: {
					chart: {
						title: "Countries",
						subtitle: ""
					}
				},
				endPoint		: '/api/countries',
				update			: '/countries/update',
				population 		: null,
				idCountry		: null,
				countries       : [],
				changeCountry	: '',
				msg 			: '',
			}
		},
		watch: {
			// whenever question changes, this function will run
			changeCountry: function () {
				this.idCountry  = this.changeCountry;
				this.population = $('#country').find(':selected').data('population'); 
			},
		},
		created(){

			this.fetchCountries();
			/*socket.on('countries', function(msg){
				this.fetchCountries();
			});*/
		},
		sockets:{
			connect: function(){
				console.log('socket connected')
			},
			countries: function(msg){
				console.log(msg);
				this.fetchCountries();
			}
		},
		methods: {
			fetchCountries(){

				var list = [];
				Axios.get(this.endPoint).then((response)=> {
					// handle success
					this.countries = response.data;

					list.push(["Country", "Population"]);	
					_.forEach(response.data, function(value) {
						list.push([value.country,value.population]);
					});

					this.chartData = list;
				})
				.catch(function (error) {
					// handle error
					console.log(error);
				})
				.then(function () {
					// always executed
				});
			},
			updateCountries(){
				this.idCountry = $('#country').find(':selected').data('population');
				this.population = $('input[name="population"]').val()

				if( (this.population == 0 ) && (this.idCountry == '') ){
					this.msg = "Please select all fields.";
					return;
				}

				this.msg = "loading...";
				
				Axios.post(this.update,$("#formUpdate").serialize()).then((response)=> {
					// handle success

					if(response.data.status=="success"){
						this.msg = '';
					}else{
						this.msg = 'An unexpected error has occurred, try again.';
					}
					return
				})
				.catch(function (error) {
					// handle error
					console.log(error);
				})
				.then(function () {
					// always executed
				});
			}
		}
	}
</script>