<template lang="pug">
	div
		nav(class="nav-login")
			.container
				.row
					div(class='col-12')
						img(src="/img/world.png", alt="Countries")
		.container(class="section-login")
			.row
				div(class="col-12 col-sm-5 col-md-5 mx-auto")
					h1(class='text-center') Log In 

					form(action="/auth/local", method="POST")
						.form-group
							label Username 
							input(type='text', class="form-control" id="email" name="username")
						.form-group
							label Password 
							input(type='Password', class="form-control" id="password" name="password")
						div.text-right
							button(type='submit', class='btn btn-primary  mx-auto') Submit
					if(messages  && messages.error)
						p(class="text-danger d-block mt-4") #{messages.error}
</template>

<script>

	export default {
		mounted(){
			$("#error_form").removeClass('d-none');
		}
	}
</script>