doctype html
html(lang="es")
	head
		meta( charset="utf-8")
		meta( http-equiv="X-UA-Compatible" content="IE=edge")
		meta( name="viewport" content="width=device-width, initial-scale=1")
		title  Login Countries

		link( rel="shortcut icon" href="/favicon.png" type="image/png")
		link( rel="apple-touch-icon-precomposed" sizes="72x72" 	 href="/favicon.png" type="image/png")
		link( rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon.png" type="image/png")
		link( rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon.png" type="image/png")
		link( rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon.png" type="image/png")
		link( rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon.png" type="image/png")

		link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
	body

		div#app
			block contenido

		script(src="/socket.io/socket.io.js")
		script(src="/js/app.js")


